@*@inherits Umbraco.Web.Mvc.UmbracoViewPage*@
@inherits CleanBlogViewPage

@using CleanBlog.Core.ViewPages
@{
    var resultSet = ArticleService.GetLatestArticles(Model, Request);
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
        <!-- Post preview-->
        @if (resultSet != null && resultSet.Results != null && resultSet.Results.Any())
        {
            foreach (Article article in resultSet.Results)
            {
                <div class="post-preview">
                    <a href="@article.Url()">
                        @DateTime.Now
                        <h2 class="post-title">@(!string.IsNullOrWhiteSpace(article.Title)?  article.Title: article.Name)</h2>
                        @if (article.HasValue("subtitle"))
                        {
                            <h3 class="post-subtitle">@article.Subtitle</h3>
                        }
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">@article.AuthorName</a>
                        on @article.PublishDate.ToString("MMMM dd, yyyy")
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            if (resultSet.IsArticleListPage)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        @if (resultSet.PageNumber > 1)
                        {
                            <li class="page-item"><a class="page-link" href="@resultSet.Url?page=@(resultSet.PageNumber-1)&size=@resultSet.PageSize">Prev</a></li>
                        }
                        <li class="page-item">
                            <a class="page-link" click="return;">
                                @resultSet.PageNumber  Page of  @resultSet.PageCount
                            </a>
                        </li>
                        @if (resultSet.PageNumber < resultSet.PageCount)
                        {
                            <li class="page-item"><a class="page-link" href="@resultSet.Url?page=@(resultSet.PageNumber+1)&size=@resultSet.PageSize">Next</a></li>
                        }
                    </ul>
                </nav>
            }
            else
            {
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="@resultSet.Url">@Umbraco.GetDictionaryValue("ViewAll") →</a></div>
            }
        }
        else
        {
            <p>No Articles</p>
        }
    </div>
</div>